@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$pw-blue: (
    100: #8C9DB2,
    500: #2A69B3,
    900: #173A62,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: $white-87-opacity,
        900: $white-87-opacity,
        A100: $black-87-opacity,
        A200: white,
        A400: white,
        A700: white,
    )
);

$pw-gray: (
    100: #ACACAC,
    500: #5C5C5C,
    900: #232323,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: $white-87-opacity,
        900: $white-87-opacity,
        A100: $black-87-opacity,
        A200: white,
        A400: white,
        A700: white,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
// $oprum-app-primary: mat-palette($mat-cyan, 900, 100, 900);
$oprum-app-primary: mat-palette($pw-blue, 500, 100, 900);
$oprum-app-accent:  mat-palette($pw-gray, 500, 100, 900);

// The warn palette is optional (defaults to red).
$oprum-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$oprum-app-theme: mat-light-theme($oprum-app-primary, $oprum-app-accent, $oprum-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($oprum-app-theme);



[login-form] .mat-card-header {
    background-color: map-get($oprum-app-primary, 500);
    color: #FFF;
}