<div mat-dialog-content>
  <p>Reset password instructions</p>
  <mat-form-field fxFill>
    <mat-icon matPrefix>person</mat-icon>
    <input matInput [(ngModel)]="emailAddress" fxLayoutAlign="end" placeholder="Email Address" name="emailAddress">
  </mat-form-field>
</div>
<div mat-dialog-actions fxLayoutAlign="end">
  <button mat-button [mat-dialog-close]="false" tabindex="-1">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true"><mat-icon>settings_backup_restore</mat-icon>&nbsp; Reset Password</button>
</div>